.card {
    margin: auto;
    margin-top: 25vh;
    text-align: center;
    width: 400px;
    height: 446px;
}
table {
    margin: auto;
    width: 400px;
    height: 400px;
    background: #001fff5c;
    border-radius: 14px;
    box-shadow: 0px 0px 48px 6px black;
    padding: 12px;
}
td {
    border: 2px solid black;
    border-radius: 7px;
    height: 66.66px;
    width: 66.66px;
    box-shadow: inset 0px 0px 7px black;
}
.square:hover {
    border: 1px solid gray;
}
#free-space:hover {
    border: 2px solid red;
}
.options {
    text-align: center;
}
button {
    margin: auto;
    text-align: center;

}
.selected {
    background-color: #f7cccc;
}
.bingo-squares {
    transition: all 0.4s;
    border: 2px solid red;
    height: 100px;
    width: 100px;

}